/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  margin:0; 
  padding:0; 
}

 html{
 background-color: white; 
 color: #333;
 font-family: Helvetica, sans-serif;
}

.dark-mode{
background: #191919;
color: white; 

}

.dark-mode a {
  color: white;
}

.dark-mode p{
  color: white;

}

.dark-mode section:last-of-type{
  background-color: #191919;
}

.dark-mode section:first-of-type{
  background-color: #191919;
}

h4{
  padding: 4em 1.5em 0 1.5em;
  font-weight: 400;
}


h2 {
  font-family: 'goldman', 'cursive'; 
}



a {
  text-decoration: none;
  cursor: pointer;

}



/* Responsive nav items */
.responsive-menu-items{ 
  position: absolute;
  list-style-type: none;
  left: 5%; 
  top: 2em;
}

.responsive-menu-items li{ 
  display: inline;
  margin-left: 1.5em;

} 

.responsive-menu-items a{ 
  color: white; 
  text-decoration: none; 
  transition: .2s;
} 

.responsive-menu-items a:hover{
 
  color: #12784A;
}

/* header */ 
/* linear-gradient bron: https://www.w3schools.com/cssref/func_linear-gradient.asp*/
header {
background-image: linear-gradient(
  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(../images/elementen/header-foto.jpg);
background-size: cover; 
background-attachment: fixed;
background-position: center;
height: 100vh;

}

/* verborgen nav / inspiratie bron: https://codepen.io/shooft/pen/PoNQwXY */ 
.menu-hidden{
    background-color: #222222;
    z-index: 99;
    position:absolute;
    width:100%;
    left:0;
    top:0; bottom:0;
    transform:translateX(-100%);
    transition:1s;
}

.menu-sluiten{
  margin: 1em;  
  color: white; 
  font-size: 2em;
}

.menu-show {
  position: fixed;
  transform:translateX(0%);
  overflow-y: scroll;
}

/* nav (klikbare links) in het uitschuif menu */ 
.navigatie-uitschuif-menu {
  background-color: rgb(34,34,34);
  padding: 1em 1.5em 1em 1.5em;
}

.navigatie-uitschuif-menu a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5em;
  font-size: .9em;
  font-weight: 400;
}

.navigatie-uitschuif-menu hr{
  margin-top: 1em;
  width: 100%;
  animation: lines 5s;
}


@keyframes lines{
  0%{
    width: 100%; 
  }
  50%{
    width: 0%; 
  }
  100%{
    width: 100%;
  }
}

/* fixed position bron: https://www.w3schools.com/css/css_positioning.asp*/ 
.fixed-menu-element{
  position: sticky; 
  bottom: 0; 
  background-color: #222222;
  padding: 1em 1.5em 1em 1.5em;
}

.fixed-menu-element a{
  color: white; 
  font-size: .8em;
}

/* slider in het uitschuif menu */ 
div:first-of-type  ul{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  list-style: none;
  padding: 2em 1.5em 1em 1.5em;
  margin-bottom: 1em
  
}

/* Voor het stylen van de scrollbar bron: https://css-tricks.com/the-current-state-of-styling-scrollbars/ */ 
div:first-of-type ul::-webkit-scrollbar {
  height: .3em 
}

div:first-of-type ul::-webkit-scrollbar-track {
  background-color: #4E4E4E;
}

div:first-of-type  ul::-webkit-scrollbar-thumb {
  background-color: white; 
}

div:first-of-type  ul li{
  margin-right: 1em; 
}


div:first-of-type  ul p{
  color: white;
  margin-top: 1em; 
  font-weight: 600;
  font-family: "goldman", "cursive";
}

div:first-of-type  ul img{
 width: 10em;
 border-radius: 2px;
 opacity: 0.8;
 transition: .2s;
}

div:first-of-type  ul img:hover{
  opacity: 1;
}

/* nav-bar  icons / hamburger / home / search*/
nav {
  z-index: 99;
  width: 100%;
  text-decoration: none;
  list-style:none;
}

nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 2em 1.5em 1em 1.5em;
}

nav img{
  display: flex;
  line-height: .5em;
  width: 4em; 
  height: auto;
  align-self: center;
}

nav a{
  line-height: .5em;
  font-size: 1.5em; 
  font-weight: 600;
  color: white;
  
}

/* header tekst in het midden. bron: https://stackoverflow.com/questions/42121150/css-centering-with-transform  */ 
.header-text{
position: absolute; 
color: white;
left: 50%; top: 50%; 
transform:translate(-50%, -50%); 
text-align: center;
width: 23em;
font-family: 'Goldman', cursive;
}

.header-text h1{
  letter-spacing: .1em;
  font-size: 1.9em;
  font-weight: 400; 
}

.header-text h3{
 margin-top: .5em;
 font-size: 1em;
 letter-spacing: .1em;
 font-weight: 400;
 color: #f0f0f0; 
}



section:first-of-type {
  padding: 4em 1.5em 4em 1.5em;
  display: flex;
  flex-wrap: wrap;

  background-color: rgb(247, 247, 247);
}

/* gradient text bron: https://cssgradient.io/blog/css-gradient-text/*/ 
section:first-of-type h2 {
font-family: 'goldman', cursive;
font-weight: 400;
letter-spacing: .1em;
font-size: 1.7em;
line-height: 1.3em;
background: -webkit-linear-gradient( right, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

section:first-of-type p {
  letter-spacing: .1em;
  font-size: 1em;
  line-height: 1.7em;
  font-weight: 100;
  margin-top: 1em;
  margin-bottom: 3em;
  
  }

.home section:first-of-type div a{ 
  text-decoration: none;
  transition-duration: 0.2s;
  color: #12784A;


}

.home section a:last-of-type:hover{
  opacity: .5;
}

.home section:first-of-type div a:first-of-type{
margin-right: 1em;
background-color: rgba(0, 0, 0, 0); 
padding: .7em 2em .7em 2em;
border-radius: 20px;
border: solid 1px #12784A;
transition-duration: 2s ease-out;

}

.home section:first-of-type div a:first-of-type:hover{
  background-color: #12784A;
  color: white;
  
} 

.home section:nth-of-type(2) a:first-of-type{
  display: inline;
  margin-left: 1px;
  color: #12784A;
  transition-duration: 0.2s;
}

.home section:nth-of-type(2) a:first-of-type:hover{
  opacity: .5;
}

/* slider met Flexbox. Bron: https://dlo.mijnhva.nl/content/enforced/192710-FDMCI-2000FED1
16-DMCI-CMD-2021-1/FED%2020-21%20-%20Blok%202%20-%20Oefening%20flexbox.pdf*/ 
.home section:nth-of-type(2) ul{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  list-style: none;
  padding: 1.5em 1.5em 2em 1.5em;
  margin-bottom: 2em;
  
}

.slider-heading{
  padding: 4em 1.5em 0 1.5em;
  font-weight: 400;
}

 .home section:nth-of-type(2) ul::-webkit-scrollbar {
  height: .3em;  
}

.home section:nth-of-type(2) ul::-webkit-scrollbar-track {
  background-color: #D3D3D3;
}

.home section:nth-of-type(2) ul::-webkit-scrollbar-thumb {
  background-color: #12784A;
}

.home section:nth-of-type(2) li{
  margin-right: 1em;
 
}

.home section:nth-of-type(2) figcaption{
  color: #333;
  margin-top: 1em; 
}


figcaption p:first-of-type{
 font-family: 'goldman', 'cursive';
 font-weight: 700;
 margin-bottom: 0.5em; 
}

figcaption p:last-of-type{
font-weight: 600;
font-size: .8em;
}

.home section:nth-of-type(2) img{
 width: 20em;
 border-radius: 2px;
 border:none;
}


.home section:nth-of-type(3){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  grid-gap: 10px;
  row-gap: 2em;
  padding: 2em 1.5em 4em 1.5em;
}

.home section:nth-of-type(3) figure:last-of-type{
  grid-column-start: 1; 
  grid-column-end: 3;
}

.home section:nth-of-type(3) img{
  width: 100%;
height: 17em;
object-fit: cover;
transition: .2s ease-out;
border-bottom: rgba(255, 255, 255, 0) solid;
}

.home section:nth-of-type(3) img:hover{
border-bottom: 1em rgba(255, 255, 255, 0) solid; 

}



/* official rolex retailers */ 
.home section:nth-of-type(4){
  position: relative; 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/elementen/store-locator-mobile.webp);
  
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 35em; 
  width: 100%;
  }



 
  .home section:nth-of-type(4) a {
    position: absolute;
    margin-top: 5em;
    background-color: rgba(0, 0, 0, 0); 
    padding: .6em 0 .6em 0; 
    border-radius: 20px;
    border: solid 1px white;
    color: white;
    left: 50%; top: 50%; 
    transform:translate(-50%, -50%);
    width: 11em;
    text-align: center;
    transition: .2s
  }

  .home section:nth-of-type(4) a:hover{
    background-color: #12784A;
    border: none;
  }

  .home section:nth-of-type(4) h2{
    position: absolute; 
    color: white;
    left: 50%; top: 50%; 
    transform:translate(-50%, -50%); 
    text-align: center;
    width:15em;
    font-family: "goldman", "cursive";
    }





/* social links */ 
section:last-of-type{
background-color:#F7F7F7;
padding: 4em 1.5em 4em 1.5em;
font-family: "goldman", "cursive"; 
}

section:last-of-type ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 5em 0 5em;
}

section:last-of-type li{
  border-radius: 100%;
  padding: 1em;
  background-color: white;
}

section:last-of-type a{
  font-size: 1em;
  color: #12784A;
}

section:last-of-type h2 {
 font-size: 1em; 
 text-align: center;
 margin-bottom: 1.5em;
 font-weight: 400;
}

footer {
  background-color: rgb(34,34,34);
  padding: 4em 1.5em 4em 1.5em;
}

h5{
margin-top: 1em;
line-height: 2.2em;
color: #D4D4D4; 
font-family: 'goldman', 'cursive';
font-size: 1em;
font-weight: 400;
}

footer a{
  color:#D4D4D4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5em;
  font-size: 1em;
}

footer div{
  display: flex;
  justify-content: space-between;
}

hr{
  margin: 0 0 1em 0; 
}

button{
  display: block;
  margin-top: 1em;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  color: white;
  background-color: rgb(34,34,34); 
  border: 1px solid white; 
  transition: .2s ease-out; 
}

button:hover{
  background-color: #12784A; 
  border: 1px solid rgb(34, 34, 34);
}





/* tweede pagina ////////
/
/
/
/
/
/
/
/
/
/
/
/
*/ 


.world header{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/elementen/header-foto-pagina2.jpeg);

 }

 /* Grid bron: https://dlo.mijnhva.nl/content/enforced/192710-FDMCI-2000FED116-DMCI-CMD-2021-1/FED%2020-21%20-%20Blok%202%20-%20Oefening%20grid.pdf*/ 
  /* bron: https://css-tricks.com/snippets/css/complete-guide-grid/*/ 
  /* bron: https://www.youtube.com/watch?v=br-0i3U1VCA&feature=youtu.be */ 
  .world section:nth-of-type(2){
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto; 
  grid-gap: 10px;
  align-content: center;
  row-gap: 2em;
  padding: 2em 1.5em 4em 1.5em;
}

.world section:nth-of-type(2) img{
  width: 100%;
  height: 17em;
  object-fit: cover;
  transition: .2s ease-out;
  border-bottom: rgba(255, 255, 255, 0) solid;
}

.world section:nth-of-type(2) img:hover{
  border-bottom: 1em rgba(255, 255, 255, 0) solid; 
  
  }


.world section:nth-of-type(3){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  grid-gap: 10px;
  row-gap: 2em;
  padding: 2em 1.5em 4em 1.5em;
}

.world section:nth-of-type(3) figure:first-of-type{
  grid-column-start: 1; 
  grid-column-end: 3;
}

.world section:nth-of-type(3) img{
width: 100%;
height: 17em;
object-fit: cover;
transition: .2s ease-out;
border-bottom: rgba(255, 255, 255, 0) solid;
}

.world section:nth-of-type(3) img:hover{
  border-bottom: 1em rgba(255, 255, 255, 0) solid; 
  
}

.world section:nth-of-type(4){
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: auto;
  
  grid-gap: 10px;
  row-gap: 2em;
  padding: 2em 1.5em 4em 1.5em;
}

.world section:nth-of-type(4) img{
 width: 100%;
height: 17em;
object-fit: cover;
transition: .2s ease-out;
border-bottom: rgba(255, 255, 255, 0) solid;
}

.world section:nth-of-type(4) img:hover{
  border-bottom: 1em rgba(255, 255, 255, 0) solid; 
  
}

.world section:nth-of-type(5){
  display: grid;
  background:none;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto; 
  grid-gap: 10px;
  row-gap: 2em;
  padding: 2em 1.5em 4em 1.5em;

}

.world section:nth-of-type(5) img{
width: 100%;
height: 17em;
object-fit: cover;
transition: .2s ease-out;
border-bottom: rgba(255, 255, 255, 0) solid;
}

.world section:nth-of-type(5) img:hover{
border-bottom: 1em rgba(255, 255, 255, 0) solid; 

}

.world section:nth-of-type(6){
  position: relative; 
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.1), rgb(0, 0, 0)),
    url(../images/pagina-2-elementen/world-of-rolex-meneer.jpg);
  background-size: cover;
  height: 17em;
  width: 100%;
  
  }

  .world section:nth-of-type(6) a {
    position: absolute;
    margin-top: 5em;
    padding: .6em 0 .6em 0; 
    border-radius: 20px;
    border: solid 1px white;
    color: white;
    left: 50%; top: 50%; 
    transform:translate(-50%, -50%);
    width: 11em;
    text-align: center;
    transition: .2s ease-out;
  }

  .world section:nth-of-type(6) a:hover{
    background-color: #12784A;
    border: none;
  }

  .world section:nth-of-type(6) h2{
    position: absolute; 
    color: white;
    left: 50%; top: 50%; 
    transform:translate(-50%, -50%); 
    text-align: center;
    width:15em;
    }

    

  /* @media om het responsive te maken bron: https://dlo.mijnhva.nl/content/enforced
  /192710-FDMCI-2000FDMCI-CMD-2021-1/FED%2020-21%20-%20Blok%202%20-%20Oefening%20media%20queries.pdf*/
  /* bron: https://www.youtube.com/watch?v=2KL-z9A56SQ&feature=youtu.be*/ 
  @media (min-width: 600px) {
  .header-text{
    width: 30em;
   
    }
    
    .header-text h1{
      font-size: 2.5em;
      
    }
    
    .header-text h3{
     font-size: 1.2em;
     
    }

    .home section:nth-of-type(2) img{
      width: 27em;
     }

     section:last-of-type ul{
      padding: 0 8em 0 8em;
    }

}

@media (min-width: 700px){
  .home section:nth-of-type(4){
    height: 25em;
  }

  .home section:nth-of-type(4){ 
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/elementen/store-locator-700.jpg);
    }
}


@media (min-width: 800px) {
  .header-text{
    width: 40em;
   
    }
    
    .header-text h1{
      font-size: 2.7em;
      
    }
    
    .header-text h3{
     font-size: 1.3em;
     
    }

    section:first-of-type {
      padding: 4em 4em 4em 4em;
    }

    section:first-of-type h2{
      font-size: 2em;
    }

    .home section:nth-of-type(2) img{
      width: 21em;
     }

     section:last-of-type ul{
      padding: 0 11em 0 11em;
    }

    .home section:nth-of-type(3) img{
      height: 18em;
    }

    .home section:nth-of-type(3){
      padding: 2em 3em 4em 3em;
    }

  
}


@media (min-width: 980px) {
    
    .header-text h1{
      font-size: 3em;
      
    }
    
    .header-text h3{
     font-size: 1.5em;
     
    }

    section:first-of-type {
      padding: 4em 6.5em 4em 6.5em;
    }

    section:first-of-type h2{
      font-size: 2em;
    }

    a {
      font-size: 1.1em;
    }

    .home section:nth-of-type(2) img{
      width: 16em;
     }

     section:last-of-type ul{
      padding: 0 15em 0 15em;
    }
    
    .home section:nth-of-type(3) img{
      height: 27em; 
    }
    
    .home section:nth-of-type(3){
      
      padding: 2em 10em 4em 10em;
    }

    .world section:nth-of-type(3) img{
      height: 27em; 
    }
    
    .world section:nth-of-type(3){
      
      padding: 2em 10em 4em 10em;
    }

    .world section:nth-of-type(4) img{
      height: 27em; 
    }
    
    .world section:nth-of-type(4){
      
      padding: 2em 10em 4em 10em;
    }

    .world section:nth-of-type(5) img{
      height: 27em; 
    }
    
    .world section:nth-of-type(5){
      
      padding: 2em 10em 4em 10em;
    }

    .world section:nth-of-type(2) img{
      height: 27em; 
    }
    
    .world section:nth-of-type(2){
      
      padding: 2em 10em 4em 10em;
    }

    .home section:nth-of-type(4){ 
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../images/elementen/store-locator.jpg);
      }
   
      h4{
      padding: 2em 10em 1em 10em;
    }

}

@media (min-width: 1100px) {

  section:last-of-type ul{
    padding: 0 22em 0 22em;
  }
}



@media (max-width: 1200px){
  .responsive-menu-items{
    display: none;
  }
}









